[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
Flask = "*"
Authlib = "*"
python-dotenv = "*"
python-jose = "*"
cidc_utils = {git = "https://github.com/dfci/cidc-utils"}
nose = "*"
WTForms = "*"
python-json-logger = "*"
sendgrid = "*"
deprecation = "*"
black = "*"
requests = "*"

[requires]
python_version = "3.6"
