{% extends "base_header.jinja2" %}

{% block content %}

    <h1>User Profile for - {{ retrieved_user_info["username"] }}</h1>

    <div class="ui message attached">
        <h4 class="ui header">Basic User Information</h4>
    </div>

    <div class="ui attached fluid segment">
        <form method="POST" class="ui form">
            {% include "register_demographics_ro.jinja2" %}
        </form>

        <h4>Registration Form and Code of Conduct</h4>
        Completed {{ retrieved_user_info["registration_submit_date"] }}

        <h4>Access to Google Bucket</h4>
        <p>N/A</p>

        <h4>Assigned Trials</h4>

        <div class="ui bulleted list">
            {% for trial in users_trials %}
                <div class="item">
                    <div class="content">{{ trial["trial_name"] }}</div>
                </div>
            {% endfor %}
        </div>

    </div>

    <br /><br />

    <div class="ui message attached">
        <h4 class="ui header">Activity Information</h4>
    </div>

    <div class="ui attached fluid segment">
        <h4>Last Accessed</h4>
        {{ retrieved_user_info["last_access"] }}

        <h4>Account Created</h4>
        {{ retrieved_user_info["account_create_date"] }}
    </div>

    <br /><br />

    <div class="ui message attached">
        <h4 class="ui header">Administrative Functionality</h4>
    </div>

    <div class="ui attached fluid segment">
        <h4>System Role</h4>

        <form method="POST" action="{{ update_role_url }}" class="ui form">

            <input type="hidden" name="user_id" value="{{ retrieved_user_info["_id"] }}" />
            <div class="ui grid">
                <div class="six wide column">
                    <select name="system_role" class="ui">
                        {% for role in role_list %}
                            <option value="{{ role }}" {% if retrieved_user_info["role"] == role %}selected{% endif %}>{{ role }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="two wide column">
                    <input type="submit" value="Update" class="ui button"/>
                </div>
            </div>

        </form>

        <h4>Give user Trial Permissions</h4>
        <form method="POST" action="{{ add_user_to_trial_url }}" class="ui form">

            <div class="ui grid">
                <div class="six wide column">
                <select name="add_user_to_trial" class="ui fluid dropdown">
                    {% for trial in all_trials %}
                        <option value="{{ trial["_id"] }}">{{ trial["trial_name"] }}</option>
                    {% endfor %}
                </select>
                <select name="assay_type" class="ui fluid dropdown">
                    {% for assay in assays %}
                        <option value="{{ assay["_id"] }}">{{ assay["assay_name"] }}</option>
                    {% endfor %}
                </select>
                <select name="trial_permission" class="ui fluid dropdown">
                    {% for perm_type in trial_assay_permission_types %}
                        <option value="{{ perm_type[1] }}">{{ perm_type[0] }}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="two wide column">
                    <input type="submit" value="Add" class="ui button"/>
                </div>
            </div>

            <input type="hidden" name="user_id" value="{{ retrieved_user_info["_id"] }}" />

        </form>

        <h4>Current Trial Permissions</h4>

        <table class="ui sortable selectable table">
        <thead>
            <tr>
                <th>Trial</th>
                <th>Assay</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for permission in permissions_display %}
                <tr>
                    <td>{{ permission.trial }}</td>
                    <td>{{ permission.assay }}</td>
                    <td>{{ permission.role }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>

        <h4>Remove user from trial</h4>
        <form method="POST" action="{{ remove_user_from_trial_url }}" class="ui form">
            <div class="ui grid">
                <div class="six wide column">
                    <select name="remove_user_from_trial" class="ui fluid dropdown">
                    {% for trial in users_trials %}
                        <option value="{{ trial["_id"] }}">{{ trial["trial_name"] }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="two wide column">
                    <input type="submit" value="Remove" class="ui button"/>
                </div>
            </div>

            <input type="hidden" name="user_id" value="{{ retrieved_user_info["_id"] }}" />

        </form>

    </div>

{% endblock %}