<html>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>

<body>
<div class="ui grid">
    <div class="row" style="margin-top: 10px;">
        <div class="one wide column"></div>
        <div class="fourteen wide column">
            <div class="ui menu inverted violet">

                {% if user_role == "admin" %}
                    <a class="item" href="{{ clinical_trials_status_url }}">
                        Clinical Trials Status
                    </a>
                {% endif %}

                <a class="item" href="{{ cimac_biofx_home_url }}">
                    CIMAC User Home
                </a>

                    <a class="item" href="{{ cli_install_url }}">
                        CIDC-CLI Install Instructions
                    </a>

                    <a class="item" href="{{ olink_upload_url }}">
                        Olink Upload Instructions
                    </a>
                {% endif %}

                <div class="right menu">
                    <div class="item">
                        Role: {{ user_role }}
                    </div>
                    <div class="item">
                        Username: {{ user_name }}
                    </div>
                    <a class="ui item" href="{{ logout_url }}">
                        Logout
                    </a>
                </div>
            </div>
        </div>
        <div class="one wide column"></div>
    </div>
    <div class="row">
        <div class="two wide column"></div>
        <div class="ten wide column">

            {% block content %}{% endblock %}

        </div>
        <div class="four wide column"></div>
    </div>
</div>
<div class="ui footer" style="margin-top: 20px;">
    <div class="ui grid">
        <div class="row" style="margin-top: 10px;">
            <div class="one wide column"></div>
            <div class="fourteen wide column">

                <div class="ui menu inverted violet">
                    <a class="item" target="_blank" href="{{ privacy_url }}">Privacy and Security Notice</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    $('.ui.dropdown').dropdown();
</script>


</body>

</html>