{% extends "base_header.jinja2" %}

{% block content %}

    <h1>CIMAC-CIDC User Registration</h1>
    <p class="ui message">Please fill in the information below.</p>
        <form method="POST" action="{{ save_url }}" class="ui form">
            {{ register_form.csrf_token }}

            {% include "register_demographics.jinja2" %}

            <br /><br />

            {% include "register_code_of_conduct.jinja2" %}

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

{% endblock %}