<h3>Code of Conduct</h3>

You are about to access a system which contains private medical data protected by
federal law. Information on system usage may be monitored and recorded, and subject to
audit. Unauthorized use of this system is strictly prohibited and subject to criminal
and civil penalties. By using this tool you consent to the monitoring and
recording of your actions on this system.

By downloading any data from the CIDC information system, you are agreeing to take
responsibility for the security of said data. You may not copy, transmit, print out,
or in any way cause the information to leave a secured computing environment where it
may be seen or accessed by unauthorized individuals.

<br /><br />
<div class="field">
    <div class="ui checkbox">
        {{ register_form.coc_signed(class_="form-check-input") }}
        {{ register_form.coc_signed.label(class_="form-check-label") }}
    </div>
</div>
<br /><br />