{% extends "base_header.jinja2" %}

{% block content %}

    <div class="ui message attached">
        <h4 class="ui header">User's Uploads</h4>
    </div>

    <table class="ui sortable selectable celled table">
    <thead>
        <tr>
            <th class="sorted descending">File ID</th>
            <th class="sorted descending">File Name</th>
            <th class="sorted descending">Validation Errors</th>
        </tr>
    </thead>
    <tbody>
        {% for upload in olink_uploads %}
            <tr>
                <td>
                    {{ upload["id"] }}
                </td>
                <td>
                    {{ upload["file_name"] }}
                </td>
                    {% if upload["validation_errors"]|length > 0 %}
                        <td class="negative"><i class="icon close"></i> {{ upload["validation_errors"] }}</td>
                    {% else %}
                        <td class="positive"><i class="icon checkmark"></i> None</td>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>


{% endblock %}